.home {
    width: 100%;
    height: 100%;
    position: relative;
}

.home__load {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__sliderWrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home__item {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    line-height: 0;

    img {
        width: 100%;
        height: auto;
    }
}